* {
    margin: 0;
    padding: 0;
}

/* 컨테이너 틀 */
#container {
    background: #FBF9F7;
    color: #272727;
    font-family: 'Pretendard';
}

#top {
    height: 30px;
    background: black;
}

#header {
    height: 100px;
    background: red;
}

/* 배너 동영상 */
#mainBanner {
    height: 42vw;
    overflow: hidden;
}

#mainBanner .banner_video {
    width: 100%;
}

/* 추천, 신상품, 베스트 아이템 나열 */
#contentItem {
    margin-top: 6.25vw;
}

#contentItem .item_title {
    font-style: normal;
    font-weight: 800;
    font-size: 3.125vw; /* 60px */
}

#contentItem .item_subTitle {
    font-size: 1.25vw; /* 24px */
    margin-bottom: 2.5vw;
}

.item_title, .item_subTitle {
    text-align: center;
    line-height: 4vw;
}

#contentItem .item_emo {
    text-align: center;
    margin-bottom: 2.5vw;
}

#contentItem .item_menu {
    display: flex;
    font-family: 'Cormorant SC', serif;
    font-size: 3.64584vw;
    letter-spacing: -0.35vw;
    justify-content: center;
    margin-bottom: 2.5vw;
}

.item_menu .menu_new {
    box-shadow: inset 0 -2vw 0 #E9DDD4;
}

.menu_recommend, .menu_new {
    margin-right: 5.9896vw; /* 115px */
}

/* 메뉴 형광펜 효과 */
.menu_recommend:hover,
.menu_new:hover,
.menu_best:hover {
    box-shadow: inset 0 -2vw 0 #E9DDD4;
}

/* 아이템 사진 */
#contentItem .item_pic {
    display: flex;
}
.item_pic .item_pic_1, .item_pic_2, .item_pic_3, .item_pic_4, .item_pic_5 {
    width: 450px;
    height: 560px;
    background: black;
    margin-right: 10px;
}

/* 움직이는 라인 */
#contentLine {
    font-weight: 600;
    font-size: 100px;
    color: #E9DDD4;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 100px 0;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 100px;
    margin-bottom: 200px;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@media (hover: hover) and (min-width: 700px) {
    .animated-title .content {
        -webkit-transform: translateY(calc(100% - 8rem));
        transform: translateY(calc(100% - 8rem));
    }
}

#contentLine .line_move {
    position: absolute;
    white-space: nowrap;
    animation: marquee 60s linear infinite;
}

/* 기업 소개 */
#contentUs {
    display: flex;
    justify-content: space-around;
}

#contentUs .hyft_container, .goals_container, .package_container{
    text-align: center;
}

.us_hyft .hyft_img, .us_goals .goals_img, .us_package .package_img {
    width: 400px;
    height: 500px;
    border-radius: 300px;
    background: black;
}

.hyft_title, .goals_title, .package_title {
    font-size: 3.125vw;
    font-weight: 800;
    text-align: center;
}

.hyft_subtitle {
    margin-left: 90px;
}

.hyft_subtitle,
.goals_subtitle,
.package_subtitle {
    font-size: 1.25vw;
    text-align: justify;
}

/* 기분별 페이지 이동 */

/* 커뮤니티 이동 */
#contentCommunity {
    text-align: center;
}

#contentCommunity .commu_text {
    font-size: 3.125vw;
    font-weight: bold;
}

/* 배경 고정 이미지 */
.fixed_img {
    width: 80%;
    height: 700px;
    background: black;
}

