@media screen and (max-width: 835px) {
    #contentItem .item_title {
        font-size: 7.1856vw;
        line-height: 9.2216vw;
    }
}

@media screen and (max-width: 750px) {
    .item_subTitle {
        font-size: 3.2000vw !important;
    }
}

@media screen and (max-width: 520px) {
    #contentItem .item_title {
        font-size: 2.3125rem;
        line-height: 3rem;
    }

    .item_subTitle {
        font-size: 1rem !important;
    }
}