* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: 'HSBombaram';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

body {
  overflow-x: hidden;
  transition: 2s all;
  background: #fbf9f7;
}

/* 컨테이너 틀 */
#container {
  background: #fbf9f7;
  color: #272727;
  font-family: "Pretendard-Regular";
  padding-top: 100px;
}

/* 배너 동영상 */
.main {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  text-align: center;
}
.main-text1, .main-text2 {
  position: absolute;
  font-size: 6.7708vw;
  font-family: 'HSBombaram';
  color: #231F20; 
}
.main-text1 {
  position: absolute;
  transform: translate(9.3750vw, -150px);
  animation: slideInLeft 2.5s ease-in-out;
}
.main-text2 {
  position: absolute;
  transform: translate(45.8333vw, 160%);
  font-style: italic;
  animation: slideInRight 2.3s ease-in-out;
}
.main-text2 span {
  font-family: 'HSBombaram';
  font-style: italic;

}
.main-text2 span:hover {
  color: #FEE3C4;
}
@keyframes slideInRight {
  from {
    transform: translate(200%, 150%);
  }
  to {
    transform: translate(45.8333vw, 160%);
  }
}
@keyframes slideInRight2 {
  from {
    transform: translate(120%, 150%);
  }

  to {
    transform: translate(4.3478vw, 153%);
  }
}
@keyframes slideInLeft {
  from {
    left: -50%;
  } to {
    left: 0px;
  }
}
.main-img {
  position: absolute;
  transform: translate(46.3542vw, -20%);
}
.main-img img {
  width: 26.0417vw;
}
.main-icon {
  position: absolute;
  transform: translate(72.9167vw, -50px)
}
.main-icon img {
  width: 13.3333vw;
}
.main-video {
  position: absolute;
  width: 47%;
  height: 50%;
  overflow: hidden;
  transform: translate(4.0625vw, 8.6667vw);
}
.main-video-banner {
  width: 70%;
}
.main-line {
  position: absolute;
  transform: translate(64.0625vw, 16.6667vw);
}
.main-line img {
  width: 28.1250vw;
}

/* 추천, 신상품, 베스트 아이템 나열 */
#contentItem {
  margin-top: 6.25vw;
}

#contentItem .item_title {
  font-style: normal;
  font-size: 3.75rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

#contentItem .item_subTitle {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.item_title,
.item_subTitle {
  text-align: center;
  line-height: 4.8125rem;
}

#contentItem .item_emo {
  text-align: center;
  margin-bottom: 2.5vw;
}

.item_emo {
  margin: 0 2.8vw;
  cursor: pointer;
}

.item_emo_happy {
  margin: 0 2.8vw;
}

.item_emo_boring,
.item_emo_sad,
.item_emo_lonely,
.item_emo_angry,
.item_emo_nervous {
  width: 3.125rem;
  opacity: 0.4;
  margin: 0 2.8vw;
}

#contentItem .item_menu {
  display: flex;
  font-size: 4.5vw;
  letter-spacing: -0.35vw;
  justify-content: center;
  margin-bottom: 2.5vw;
  cursor: pointer;
}

.menu_recommend,
.menu_new {
  margin-right: 5.9896vw;
  font-family: "Cormorant SC", serif;
}

.menu_best {
  font-family: "Cormorant SC", serif;
}

.menu_recommend, .menu_best {
  color: #cfcfcf;
}

/* 메뉴 형광펜 효과 */
.menu_line {
  box-shadow: inset 0 -2vw 0 #e9ddd4;
}

/* 아이템 사진 */
#contentItem .item_pic {
  display: flex;
}

#contentItem .item_pic_box {
  cursor: pointer;
}

.item_pic_box div {
  font-size: 1.25rem;
  line-height: 2.0625rem;
}

.item_pic_box .itemPic {
  position: relative;
}

.itemPic .pic_explain {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 1.125rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: white;
}

/* 움직이는 라인 */
#contentLine {
  font-weight: 900;
  font-size: 6.25rem;
  color: #e9ddd4;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 7rem 0;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 6.25rem;
  margin-bottom: 12.5rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) and (min-width: 700px) {
  .animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }
}

#contentLine .line_move {
  position: absolute;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
}

#contentLine .line_img {
  position: relative;
}

/* 기업 소개 */
#contentUs {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 5rem;
}

#contentUs .hyft_container,
.goals_container,
.package_container {
  text-align: center;
}

.us_hyft .hyft_img,
.us_goals .goals_img,
.us_package .package_img {
  width: 23rem;
  height: 28rem;
  border-radius: 18.75rem;
}

.hyft_title,
.goals_title,
.package_title {
  font-size: 3.125rem;
  text-align: center;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.hyft_subtitle,
.goals_subtitle,
.package_subtitle {
  font-size: 1.25rem;
  line-height: 30px;
}

.hyft_subtitle {
  padding-left: 4.99rem !important;
}

.goals_subtitle {
  padding-left: 2.45rem;
}

/* 공백 */
/* 최상혁 2가 추가됨 */
#contentEmpty,
#contentEmpty2,
#contentEmpty3 {
  width: 100%;
  height: 17rem;
  background: #fbf9f7;
}

/* 기분별 페이지 이동 */
#contentMood {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#contentMood .mood_left span {
  position: absolute;
  margin-left: 7.8125rem;
  font-family: "Open Sans", sans-serif;
}

.left_title {
  font-family: "Open Sans", sans-serif;
  font-weight: bolder;
  margin: 0 !important;
}

.mood_left .left_buy {
  font-size: 0.875rem;
  font-family: "Montserrat";
  font-weight: 400;
  margin-top: 8.125rem;
  margin-left: 18.75rem;
}

.left_buy img {
  width: 3.125rem;
}

.mood_right_container {
  width: 40rem; /* 가로 크기 조절 */
  height: 35.5rem;
  overflow: hidden;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

#contentMood .mood_left {
  font-size: 4.5rem;
  font-weight: 800;
}

#contentMood ul {
  width: 62.5rem;
}

#contentMood .mood_box {
  position: relative;
  display: block;
  width: 7rem; /* 한칸 크기 조절 */
  float: left;
  border-left: 1px solid #888;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  cursor: pointer;
}

#contentMood ul:hover li {
  width: 2.5rem;
}

#contentMood ul li:hover {
  width: 40rem;
}

#contentMood li img {
  display: block;
}

#contentMood .mood_box .mood_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 1.25rem;
  align-items: flex-end;
  box-sizing: border-box;
}

#contentMood .mood_box .mood_text h2 {
  color: #fff;
  transition: 0.3s;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
  font-size: 2.25rem;
  transform: translateY(200px);
  transition-delay: 0.3s;
}

#contentMood .mood_box .mood_text p {
  color: #fff;
  transition: 0.3s;
  font-size: 1.3rem;
  transform: translateY(180px);
  transition-delay: 0.4s;
  font-family: "Montserrat" !important;
  font-weight: 100 !important;
}

#contentMood .mood_box:hover .mood_text h2 {
  transform: translateY(-200px);
}

#contentMood .mood_box:hover .mood_text p {
  transform: translateY(-200px);
  font-weight: thin !important;
}

.mood_box img {
  width: 40rem !important;
}

/* 커뮤니티 이동 */
#contentCommunity {
  text-align: center;
  position: sticky;
  top: 120px;
}

/* 최상혁 작업 */
#contentEmpty-choi {
  width: 100%;
  height: 5000px;
  background: rgb(251, 249, 247);
}

#contentCommunity .community_emo {
  display: flex;
  justify-content: center;
}

.community_emo img {
  margin: 0 2.8vw;
}

#contentCommunity .commu_text {
  font-size: 3.75rem;
  margin: 3rem 0;
  line-height: 5rem;
  font-weight: bolder;
  font-family: "Open Sans", sans-serif;
}

.commu_move {
  position: relative;
}

.memo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  font-family: 'Nanum Brush Script', cursive;
  font-size: 2.8125rem;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}

/* 배경 고정 이미지 */
#contentFixedImg {
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contentFixedImg .fixed_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50rem;
  background: rgba(0, 0, 0, 0.5) url("./img/lastBackground.gif") no-repeat fixed;
  background-size: cover;
  background-blend-mode: darken;
}

.fixed_text {
  color: white;
  font-family: "Cormorant SC", serif;
  font-size: 3.75rem;
}

/* 탑 버튼 */
#topBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #c9c7bb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 99;
}

#topBtn:active {
  background: #f0f0f0;
}

@media (max-width: 414px) {
  header .login-right {
    display: none;
  }
}

/* 푸터시작 */
footer {
  background-color: #f6f3ee;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  margin-right: 20%;
}
.footer-logo img {
  width: 200px;
}
.footer-word {
  font-size: 16px;
}
.footer-social {
  margin-top: 50px;
  font-size: 16px;
  display: flex;
}
.footer-social p:not(:first-child) {
  padding: 0 20px;
}
.footer-social p:first-child {
  padding-right: 20px;
}
.footer-social p:not(:last-child) {
  border-right: 1px solid black;
}
@media (max-width: 834px) {
  footer {
    height: 200px;
  }
  .footer-logo {
    margin-right: 10%;
  }
  .footer-logo img {
    width: 150px;
  }
  .footer-word {
    font-size: 14px;
  }
  .footer-social {
    margin-top: 30px;
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  footer {
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
  }
  .footer-logo {
    margin: 0;
  }
  .footer-word {
    font-size: 12px;
  }
  .footer-social {
    margin-top: 20px;
    font-size: 12px;
  }
}
/* 푸터끝 */
